{
  "stellar": [
    "GABC...YOUR_STELLAR_ACCOUNT"
  ],
  "solana": [
    "YourSolanaWalletAddress11111111111111111111"
  ],
  "blendPools": [
    "CDMAVJPFXPADND3YRL4BSM3AKZWCTFMX27GLLXCML3PD62HEQS5FPVAI",
    "CAJJZSGMMM3PD7N33TAPHGBUGTB43OC73HVIK2L2G6BNGGGYOSSYBXBD"
  ]
}
